{% extends "home/base.html" %}

{% block title %}Edit Raw Material info - PFS Manager{% endblock %}

{% block navbar %}
{% include 'home/navbar.html' with navbar_tab='materials' %}
{% endblock %}

{% block content %}
<a href="{% url 'materials:index' %}" class="btn btn-link mb-4">Back to Raw Materials list</a>
<div class="card mb-4">
    <div class="card-header">
        Raw Material Info
    </div>
    <div class="card-body">
        <form class="" action="{% url 'materials:save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="material_id" value="{{ material.id }}">
            <fieldset class="mb-4">
                <div class="form-group row">
                    <label for="form-material-name" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form-material-name" name="name"
                            placeholder="Enter name" maxlength="255" value="{{ material.name }}" required>
                        <small id="form-material-name-help" class="form-text text-muted">Name for a common call of the item</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-material-description" class="col-md-2 col-form-label">Description (optional)</label>
                    <div class="col-md-10">
                        <textarea class="form-control" rows="5" name="description"
                            placeholder="Enter description">{{ material.description }}</textarea>
                        <small id="form-material-description-help" class="form-text text-muted">Long description for more information</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-material-quantity" class="col-md-2 col-form-label">Quantity</label>
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="form-material-quantity" name="quantity"
                            placeholder="Enter quantity" min="0" value="{{ material.quantity }}" required>
                        <small id="form-material-quantity-help" class="form-text text-muted">Count of the item</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="form-material-date_purchased" class="col-md-2 col-form-label">Date purchased</label>
                    <div class="col-md-3">
                        <input type="date" class="form-control" id="form-material-date_purchased" name="date_purchased"
                            placeholder="Enter date purchased" min="0" value="{{ material.date_purchased|date:"Y-m-d" }}" required>
                        <small id="form-material-date_purchased-help" class="form-text text-muted">Date the item was purchased</small>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group mb-0 row">
                    <div class="offset-md-2 col-md-3">
                        <button type="submit" class="btn btn-success"
                            name="next" value="list">Save</button>
                        <button type="submit" class="btn btn-success"
                            name="next" value="add">Save &amp; add another</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
