{% extends "home/base.html" %}

{% block title %}Quotations - PFS Manager{% endblock %}

{% block navbar %}
{% include 'home/navbar.html' with navbar_tab='shop' %}
{% endblock %}

{% block content %}
{% include 'shop/menu.html' with menu_tab='quotes' %}

<div class="card mb-4">
    <div class="card-header">
        Quotations
    </div>
    <table id="table-accordion" class="table table-hover table-bordered accordion mb-0">
        <thead>
            <tr>
                <th class="table-col-no">#</th>
                <th class="table-col-code d-none d-md-table-cell">Quote #</th>
                <th class="table-col-date d-none d-md-table-cell">Date</th>
                <th class="table-col-action">Action</th>
            </tr>
        </thead>
        <tbody>
{% for quote in quotes %}
            <tr data-toggle="collapse" data-target="#quote-{{quote.id}}">
                <td>{{ forloop.counter }}</td>
                <td class="d-none d-md-table-cell">{{ quote.number }}</td>
                <td>
                    <p>{{ quote.number }}</p>
                    <div id="quote-{{quote.id}}" class="collapse small" data-parent="#table-accordion">
                        <dl class="d-md-none row mb-0">
                            <dt class="col-sm-3 col-lg-2">Date</dt>
                            <dd class="col-sm-9">{{ quote.date }}</dd>
                        </dl>
                        <dl class="row mb-0">
                            <dt class="col-sm-3 col-lg-2">Added by</dt>
                            <dd class="col-sm-9">{{ quote.user }}</dd>
                        </dl>
                    </div>
                </td>
                <td class="d-none d-md-table-cell">{{ quote.date }}</td>
                <td>
                    <a class="text-info" href="{% url 'shop:quote_edit' quote.id %}">Edit</a>
                    &nbsp;
                    <a class="text-danger" href="javascript:prompt_delete({{ quote.id }})">Delete</a>
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block modals %}
    <div id="modal-quote-delete" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'shop:quote_delete' %}" method="post">
                    {% csrf_token %}
                    <input id="modal-quote-delete-id" type="hidden" name="quote_id" value="0">
                    <div class="modal-body">
                        Are you sure you want to delete this record?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Yes</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function prompt_delete(id)
    {
        $('#modal-quote-delete-id').val(id);
        $('#modal-quote-delete').modal('show');
    }
</script>
{% endblock %}
