{% extends "home/base.html" %}

{% block title %}Edit Quotation - PFS Manager{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}" />
{% endblock %}

{% block navbar %}
{% include 'home/navbar.html' with navbar_tab='shop' %}
{% endblock %}

{% block content %}
<a href="{% url 'shop:quotes' %}" class="btn btn-link mb-4">Back to Quotations list</a>
<div class="input-group mb-4">
    <select id="form-product-search" class="custom-select"></select>
</div>
<div class="card">
    <div class="card-header">
        Cart
    </div>
    <table id="cart-table" class="table table-bordered mb-0">
        <thead>
            <th class="table-col-no">#</th>
            <th>Product</th>
            <th class="table-col-price">Unit Price</th>
            <th class="table-col-quantity">Quantity</th>
            <th class="table-col-price">Price</th>
        </thead>
        <tbody>
            <tr id="cart-row" class="d-none">
                <td class="cart-row-no">0</td>
                <td class="cart-row-name">Name</td>
                <td class="cart-row-unit_price">0.00</td>
                <td class="cart-row-quantity">
                    <input class="form-control" type="number" value="1">
                </td>
                <td class="cart-row-price">0.00</td>
            </tr>
            <tr id="cart-row-total">
                <td class="cart-row-no">#</td>
                <td class="cart-row-name" colspan="3">Total</td>
                <td class="cart-row-price">0.00</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script type="text/javascript">
    var products = {};
    var cart = {};

    $(function() {

        $('#form-product-search').select2({
            ajax: {
                url: '{% url 'products:json' %}',
                delay: 500,
                dataType: 'json',
                type: 'get',
                data: function (params) {
                    return {
                        category: $('#form-product-search-category').val(),
                        name: params.term,
                        limit: 10,
                        page: params.page || 1
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: $.map(data.products, function (product) {
                            if (product)
                                products[product.id] = product;
                            return {
                                id: product.id,
                                text: '[' + product.code + '] ' + product.name
                            };
                        }),
                        pagination: {
                            more: (params.page * 10) < data.products.length
                        }
                    };
                }
            },
            minimumInputLength: 1,
            placeholder: 'Search products'
        });

        $('#form-product-search').on('change', function() {
            id = $(this).val();
            if (id > 0) addToCart(id);
            else return;
            $('#form-product-search').val(null).trigger('change');
        });

    });

    function addToCart(product_id)
    {
        if (cart[product_id]) return;
        cart[product_id] = { 'id': product_id, 'quantity': 1 };

        row_no = Object.keys(cart).length
        row_name = '[' + products[product_id].code + '] ' + products[product_id].name;
        row_price = products[product_id].price;
        row_quantity = 1;

        table_row = $('#cart-row').clone(true);
        table_row.find('.cart-row-no').html(row_no);
        table_row.find('.cart-row-name').html(row_name);
        table_row.find('.cart-row-unit_price').html(printMoney(row_price));
        table_row.find('.cart-row-quantity input').val(row_quantity);
        table_row.find('.cart-row-price').html(printMoney(row_price));

        table_row.toggleClass('d-none');
        table_row.insertBefore('#cart-row-total');

        calculateTotal();
    }

    function calculateTotal()
    {
        total_price = 0.00;
        $.each(cart, function(key, value) {
            total_price += products[value.id].price * value.quantity;
        });

        $('#cart-row-total .cart-row-price').html(printMoney(total_price));
    }

    function printMoney(money)
    {
        return money.toLocaleString(undefined, {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });
    }

</script>
{% endblock %}
