{% extends "home/base.html" %}

{% block title %}Edit Product Category - PFS Manager{% endblock %}

{% block navbar %}
{% include 'home/navbar.html' with navbar_tab='products' %}
{% endblock %}

{% block content %}
<a href="{% url 'products:categories' %}" class="btn btn-link mb-4">Back to Categories list</a>
<div class="card mb-4">
    <div class="card-header">
        Category Info
    </div>
    <div class="card-body">
        <form class="" action="{% url 'products:category_save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{ category.id }}">
            <fieldset class="mb-4">
                <div class="form-group row">
                    <label for="form-category-name" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="form-category-name" name="name"
                            placeholder="Enter name" maxlength="255" value="{{ category.name }}" required>
                        <small id="form-category-name-help" class="form-text text-muted">Name for a common call of the category</small>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group mb-0 row">
                    <div class="offset-md-2 col-md-3">
                        <button type="submit" class="btn btn-success"
                            name="next" value="list">Save</button>
                        <button type="submit" class="btn btn-success"
                            name="next" value="add">Save &amp; add another</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
