<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if menu_tab == 'coffins' %}active{% endif %}" href="{% url 'products:coffins' %}">Coffins</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if menu_tab == 'services' %}active{% endif %}" href="{% url 'products:services' %}">Services</a>
    </li>
    <li class="ml-auto nav-item">
{% if menu_tab == 'coffins' %}
        <a class="nav-link" href="{% url 'products:coffin_edit' 0 %}">Add new coffin</a>
{% else %}
        <a class="nav-link" href="{% url 'products:coffin_edit' 0 %}">Add new service</a>
{% endif %}
    </li>
</ul>
