{% extends "home/base.html" %}

{% block title %}Logs - PFS Manager{% endblock %}

{% block navbar %}
{% include 'home/navbar.html' with navbar_tab='logs' %}
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        Recent logs
    </div>
    <table id="table-accordion" class="table table-hover table-bordered accordion mb-0">
        <thead>
            <tr>
                <th class="table-col-no">#</th>
                <th>Log</th>
                <th class="table-col-quantity d-none d-md-table-cell">User</th>
                <th class="table-col-date d-none d-md-table-cell">Datetime</th>
            </tr>
        </thead>
        <tbody>
{% for log in logs %}
            <tr data-toggle="collapse" data-target="#log-{{log.id}}">
                <td>{{forloop.counter}}</td>
                <td>
                    <p>
                        {{ log.object }} [{{ log.object_id }}]
                        &quot;{{ log.action }}&quot;
                    </p>
                    <div id="log-{{log.id}}" class="collapse small" data-parent="#table-accordion">
                        <dl class="d-md-none row mb-0">
                            <dt class="col-sm-3 col-lg-2">Datetime</dt>
                            <dd class="col-sm-9">{{ log.datetime }}</dd>
                        </dl>
                    </div>
                </td>
                <td class="d-none d-md-table-cell">{{ log.user }}</td>
                <td class="d-none d-md-table-cell">
                    {{ log.datetime|date:'M. d, Y' }}
                    <br>
                    {{ log.datetime|date:'h:i A' }}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
